*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: rgb(200,195,195);
}
nav{
    display: flex;
    background-color: black;
    position: sticky;
    height: 60px;
    align-items: center;
    top: 0;
}
.logo img{
    height: 40px;
    align-items: left;
    padding-left: 40px;
    padding-top: 10px;
}
.logosandicons img:hover{
    border: 1px soild white;
    border-radius: 2px;
}
.btn img{
    width: 26px;
}
.search{
    display: flex;
    background-color: white;
    width: 70%;
    height: 36px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.search input{
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    padding: 0 16px;
    border: 0;
}
.btn{
    border: 0;
    cursor: pointer;
    background-color: rgba(255,166,0);
    padding: 6px 10px;
    border-radius: 0 5px 5px;
}
#profile img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
    margin-top: 10px;
}
#cart img{
    width: 40px;
    height: 30px;
    padding-right: 20px;
}
.icons{
    margin: 10px;
}
.icons:hover{
    border: 1px soild white;
    border-radius: 2px;
}
.subnav{
    display: flex;
    background-color: #232f3e;
    padding: 9px;
    margin-bottom: auto;
}
.subnav a{
    color: white;
    padding: 4px;
    text-decoration: none;
    font-family: 'Amazon Ember', sans-serif;
    font-size: 14px;
    width: 8%;
}
.subnav a:hover{
    border: 1px soild white;
    border-radius: 2px;
}
.items1,
.items2,
.items3,
.items4{
    box-sizing: border-box;
    border: 8px soild rgb(255,252,252);
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
}
.items1 img{
    margin: 10px;
    padding: 10px;
    width: 25%;
}
#phone1{
    width:10%;
    height: 50%;
}
#phone2{
    width: 19%;
    height: 20%;
}
.items1 .buttons,
.items2 .buttons,
.items3 .buttons,
.items4 .buttons{
    width:100%;
    border: 0;
    cursor: pointer;
    height: 50px;
    font-size: 25px;
    background-color: #cbc9e1;
}
.items2 img{
    margin: 10px;
    padding: 10px;
    width: 21.5%;
}
#lap1{
    width: 20%;
}
#lap2{
    width: 20%;
}
#lap3{
    width: 20%;
}
#lap4{
    width: 25%;
}
.items3 img{
    margin: 10px;
    padding: 10px;
    width: 21%;
}
.items4 img{
    margin: 10px;
    padding: 10px;
}
#book1,
#book2,
#book3{
    width: 16%;
    padding:auto;
}
#book4{
    width: 15%;
    padding: auto;
}
.bar{
    text-align: center;
    padding: 5px;
}
.bar button{
    width: 17%;
    border: 1px soild orange;
    cursor: pointer;
    font-size: 25px;
    background-color: orange;
    border-radius: 4px;
    font-family: 'Amazon Ember',sans-serif;
    text-decoration: none;
    text-shadow: o 1px 0 #ffe093;
}
.bar.a{
    text-decoration: none;
    color: rgb(11,121,181);
}




@media screen and (max-width:620px){
    nav{
        flex-direction: column;
        height: 120px;
    }
    .logosandicons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logo{
        margin: 0 5vw;
    }
    .icons{
        display:none ;
    }
    .subnav{
        display: none;
    }
    .items1,
    .items2,
    .items3,
    .items4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .items1 .buttons,
    .items2 .buttons,
    .items3 .buttons,
    .items4 .buttons{
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        height: 20%;
        padding: 6px;
    }
   
}